<!DOCTYPE html>
<html lang="en">
<head>
	<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/styles/snippets-2.3.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>MANAGE <b>YOUR PRODUCT</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{% url 'sellerpage' %}" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i> <span>ADD PLANTS</span></a>

					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th>PLANT NAME</th>
						<th>DESCRIPTION</th>
						<th>PRICE</th>
						<th>IMAGE</th>
					</tr>
				</thead>
				{% for i in plants %}
				<tbody>

					<tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
						<td>{{ i.pname }}</td>
						<td>{{ i.pdetail }}</td>
						<td>{{ i.pprice }}</td>
						<td>
							<img src="{{ i.pimage.url }}" width="50" height="60">
						</td>


<!--						<td>-->

<!--							<form><button TYPE="submit"><a href="" >ADD    PRODUCT</a></button></form>-->
<!--						</td>-->
							<td>
							<form method="post" action="{% url 'editproduct' plantid=i.id %}">
								<button TYPE="submit"><a>EDIT PRODUCT</a></button>
								{% csrf_token %}
							</form>
						</td>
						<td>
							<form action="{% url 'deletedata' deleteid=i.id  %}">
								{% csrf_token %}
								<button TYPE="submit"><a >DELETE PRODUCT</a></button>
							</form>

						</td>
						{% endfor %}
					</tr>

				</tbody>
			</table>

</body>
</html>